<div class="container">
  <div class="intro">
    <div class="avatar">
      <a href="<%- url_for(theme.nav.Posts) %>"
        ><img src="<%- url_for(theme.avatar) %>"
      /></a>
    </div>
    <div class="nickname"><%- theme.nickname %></div>
    <div class="description"><%- markdown(theme.description) %></div>
    <div class="links">
      <% if (theme.links !== undefined) { %> <% for (var key in theme.links){ %>
      <a class="link-item" title="<%- key %>" href="<%= theme.links[key] %>">
        <% if(theme.links_text_enable) { %> <%= key %> <%}%>
        <%if(theme.links_icon_enable){ %>
        <i class="iconfont icon-<%- key.toLowerCase() %>"></i>
        <%}%>
      </a>
      <% } %> <% } %>
    </div>
    <div id="github_widget" style="margin-top: 15px;">
      <!-- Include the library. -->
      <script src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"></script>

      <!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
      <link
        rel="stylesheet"
        href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"
      />

      <div>
        <!-- Prepare a container for your calendar. -->
        <div class="calendar" style="width: 650px;">
          <!-- Loading stuff -->
          Loading data ...
        </div>
      </div>

      <script>
        GitHubCalendar(".calendar", "so0choi", {
          responsive: true,
          tooltips: false,
          global_stats: false,
        }).then(function () {
          // delete the space underneath the module bar which is caused by minheight
          document.getElementsByClassName("calendar")[0].style.minHeight =
            "120px";
          // remove calendar border
          document.getElementsByClassName("calendar")[0].style.border = 'none';
          // hide more and less legen below the contribution graph
          document.getElementsByClassName("contrib-legend")[0].style.display =
            "none";
        });
      </script>
    </div>
  </div>
</div>
